<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	
	<connectionStrings>
		<add name="DbEntities" connectionString="Data Source=.; Initial Catalog=REC; Persist Security Info=True; User ID=rec_user; Password=1qaz@WSX; TrustServerCertificate=True; connection timeout=60;" />
	</connectionStrings>

	<appSettings>
		<add key="ExecStoredProcedureName" value="SP_CasesRemoval" />
	</appSettings>
</configuration>